@model List<HoaTuoi.Models.EF.Mua>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-body">

    <div class="hr"></div>
    <div class="gallery">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Mã hoa</th>
                    <th>Ngày tạo</th>
                    <th>Số lượng</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr id="row_@item.IDHoa">
                    <th>@item.IDHoa</th>
                    <th>@DateTime.Now</th>
                    <th>@item.SoLuong</th>
                    <th><a href="javascript:XoaMua(@item.IDHoa)">Xóa</a></th>
                </tr>
            }
        </table>
        <div class="clear"></div>
    </div>
    <div class="hr"></div>
    <div class="text-box">
        <p><a href="/CartHoa/ThanhToan">Thanh Toán</a></p>
    </div>

</div>
