@model HoaTuoi.Models.EF.NguoiDung
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="feed">
    <div class="feedback">
        <h1>Login</h1>
        @using (Html.BeginForm("Login", "NguoiDung", FormMethod.Post))
        {
            <div>
                <span><label>Tên đăng nhập</label></span>
                <span><input type="text" name="TenDangNhap" /></span>
            </div>
            <div>
                <span><label>Mật khẩu</label></span>
                <span><input type="password" name="MatKhau" /></span>
            </div>
            <div>
                <span><input type="submit" value="Đăng nhập" /></span>
            </div>
        }
    </div>
    <div class="clear"></div>
</div>


