USE [master]
GO
/****** Object:  Database [HoaTuoi]    Script Date: 5/25/2020 10:22:05 AM ******/
CREATE DATABASE [HoaTuoi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEB_HOA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WEB_HOA.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WEB_HOA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WEB_HOA_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HoaTuoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HoaTuoi]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 5/25/2020 10:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[IDChiTietDonHang] [int] NOT NULL,
	[SoLuongHoa] [int] NOT NULL,
	[ThanhTien] [int] NULL,
	[NgayTao] [datetime] NULL,
	[TenNguoiDung] [nvarchar](50) NULL,
	[DienThoai] [int] NULL,
	[DiaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK__ChiTietD__613E7D1C53EA8D90] PRIMARY KEY CLUSTERED 
(
	[IDChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/25/2020 10:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[IDDonHang] [int] NOT NULL,
	[IDNguoiDung] [int] NOT NULL,
	[IDGioHang] [int] NULL,
	[IDChiTietDonHang] [int] NULL,
 CONSTRAINT [PK__DonHang__C7C3C3C52963F2EF] PRIMARY KEY CLUSTERED 
(
	[IDDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/25/2020 10:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IDGioHang] [int] NOT NULL,
	[SoLuongHoa] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[IDHoa] [int] NULL,
	[ThanhTien] [int] NULL,
 CONSTRAINT [PK__GioHang__CCE77A1F4F4CF0F5] PRIMARY KEY CLUSTERED 
(
	[IDGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hoa]    Script Date: 5/25/2020 10:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa](
	[IDHoa] [int] NOT NULL,
	[TenHoa] [nvarchar](50) NOT NULL,
	[GiaTien] [int] NOT NULL,
	[AnhDaiDien] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__SanPham__5FFA2D426C9BDE8D] PRIMARY KEY CLUSTERED 
(
	[IDHoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/25/2020 10:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IDNguoiDung] [int] NOT NULL,
	[TenNguoiDung] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NguoiDun__FEE82D40C47D42EE] PRIMARY KEY CLUSTERED 
(
	[IDNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SlideHoa]    Script Date: 5/25/2020 10:22:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlideHoa](
	[IDSlide] [int] NOT NULL,
	[AnhDaiDien] [nvarchar](100) NULL,
 CONSTRAINT [PK_SlideHoa] PRIMARY KEY CLUSTERED 
(
	[IDSlide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_ChiTietDonHang] FOREIGN KEY([IDChiTietDonHang])
REFERENCES [dbo].[ChiTietDonHang] ([IDChiTietDonHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_ChiTietDonHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_GioHang] FOREIGN KEY([IDGioHang])
REFERENCES [dbo].[GioHang] ([IDGioHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_GioHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IDNguoiDung])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_Hoa] FOREIGN KEY([IDHoa])
REFERENCES [dbo].[Hoa] ([IDHoa])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_Hoa]
GO
USE [master]
GO
