<div class="nav">
    <div class="sb-sidenav-menu-heading">Menu Quản Trị</div>
    <a class="nav-link" href="/Admin/Home/Index">
        <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
        </div>
        Trang chủ
    </a>
    <div class="sb-sidenav-menu-heading">Quản lý</div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon">
            <i class="fas fa-columns"></i>
        </div>
        Sách
        <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/Admin/TheLoai/Index">Thể loại sách</a>
            <a class="nav-link" href="/Admin/Sach/Index">Đầu sách</a>
        </nav>
    </div>
    <a class="nav-link" href="/Admin/TheThuVien/Index">
        <div class="sb-nav-link-icon">
            <i class="fas fa-book-open"></i>
        </div>
        Thẻ thư viện
    </a>
    <a class="nav-link" href="/Admin/TacGia/Index" >
        <div class="sb-nav-link-icon">
            <i class="fas fa-book-open"></i>
        </div>
        Tác giả
    </a>
    <a class="nav-link" href="/Admin/NXB/Index">
        <div class="sb-nav-link-icon">
            <i class="fas fa-book-open"></i>
        </div>
        Nhà xuất bản
    </a>

    <div class="sb-sidenav-menu-heading">Hệ thống</div>
    <a class="nav-link" href="/Admin/User/Index">
        <div class="sb-nav-link-icon"><i class="glyphicon-book"></i></div>
        Tài khoản
    </a><a class="nav-link" href="/Admin/User/Create">
        <div class="sb-nav-link-icon"><i class="glyphicon-book"></i></div>
        Đăng ký
    </a>
</div>

