@model IEnumerable<HoaTuoi.Models.EF.Hoa>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-body">

    <div class="hr"></div>
    @Html.Action("PartialViewSoSanPham", "Home")@*Partial view số sản phẩm*@
    <div class="gallery">
        <ul>
            @foreach (var item in Model)
            {
                if (item.IDHoa % 3 != 0)
                {
                    <li>
                        <a href="/CartHoa/AddCart/@item.IDHoa"><img src="/Assets/Admin/images/@item.AnhDaiDien" alt="" /></a>
                        <h3>@item.TenHoa</h3>
                    </li>
                }
                else
                {
                    <li class="last">
                        <a href="/CartHoa/AddCart/@item.IDHoa"><img src="/Assets/Admin/images/@item.AnhDaiDien" alt="" /></a>
                        <h3>@item.TenHoa</h3>
                    </li>
                }
            }
            <div class="clear"></div>
        </ul>
    </div>
    <div class="hr"></div>
    <div class="text-box">
        <p></p>
    </div>

</div>

