@model PagedList.IPagedList<Model.EF.SachView>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Quản lý sách
}

<div class="card mb-4">
    <div class="card-header">
        <a href="/Admin/Sach/Create">Thêm Sách</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sách</th>
                        <th>Tác giả</th>
                        <th>Nhà xuất bản</th>
                        <th>Ảnh</th>
                        <th>Công cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MaSach">
                            <td>@item.TenSach</td>
                            <td>@item.HoTen</td>
                            <td>@item.TenNXB</td>
                            <td><img src="/Assets/Admin/pic/Sach/@item.AnhDaiDien" width="50" height="50" /></td>
                            <td>
                                <a href="/Admin/Sach/Edit/@item.MaSach">Sửa</a>
                                @*Dùng Ajax từ file js*@
                                <a href="javascript:XoaSach(@item.MaSach)">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


